body{
    margin: 0px;
}
main{
    margin-left: 20px;
    margin-right: 20px;
}
h1{
    text-align: center;
}
.navbar ul{
    background: rgb(59, 59, 59);
    list-style-type: none;
    color: aliceblue;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    text-decoration: none;
    color: aliceblue;
    padding: 15px;
    text-align: center;
    display: block;
}
.navbar a:hover{
    background-color: gray;
}
.navbar li{
    float: left;
}
.login {
    background-color: rgb(23, 23, 196);
    color: aliceblue;
border: none;
width: 150px;
margin-left: 15px;
cursor: pointer;
height: 25px;
}
.form{
    margin-left: 10px;
}
.Reset{
    background-color: rgb(59, 59, 59);
    color: aliceblue;
border: none;
margin-left: 15px;
width: 150px;
height: 25px;
cursor: pointer;
}
img{
width: 200px;
}
video{
    width: 200px;
}